* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}
.top-bar{
    display:flex;
    justify-content:space-between;
    padding:5px 20px;
    font-size:14px;
}
.font-size span{
    border:1px solid red;
    padding:2px 5px;
    margin-left:5px;
}
.page-title{
    background:#f2f2f2;
    padding:10px;
    font-weight:bold;
}

/* NOTE */
.note{
    background:#fff;
    border:1px solid #ccc;
    margin:10px;
    padding:10px;
    display:flex;
    gap:20px;
}
.note span{color:red;font-weight:bold;}
.note ul{list-style:none;font-size:14px;}

/* HEADER */
.top-header {
    background: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #0a5aa3;
}

.logo {
    font-weight: bold;
}

.title {
    margin-left: 20px;
}

.navbar {
    background: #0a5aa3;
    padding: 10px;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* CONTAINER */
.container {
    width: 90%;
    margin: 20px auto;
}

/* SECTION */
.section {
    background: white;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.section h2 {
    background: #0a84a3;
    color: white;
    padding: 10px;
    font-size: 16px;
}
body{
    font-family: Arial;
    background:#f4f6f8;
    padding:20px;
}

/* BOX */
.box{
    border:1px solid #2f78b7;
    background:#fff;
}

/* TITLE */
.box-title{
    background:#2f78b7;
    color:#fff;
    padding:10px;
    font-size:15px;
}

/* ROW */
.row{
    display:flex;
    gap:15px;
    padding:15px;
    flex-wrap:wrap;
}

/* FIELD */
.field{
    display:flex;
    flex-direction:column;
    min-width:160px;
}

.field.wide{
    min-width:280px;
}

label{
    font-size:13px;
    margin-bottom:5px;
}

label span{
    color:red;
}

input[type="text"],
select{
    padding:6px;
    border:1px solid #ccc;
    border-radius:3px;
}

input[type="radio"]{
    margin-right:3px;
}