.container{
    background-color: blueviolet;
    text-align: center;
}

.box{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: cornflowerblue;
    margin: 40px;
    padding: 10px;
    border: black solid 5px;
    display: flex;
}

.grid{
    gap: 10px;
    display: grid;
    margin: 10px 0;
    grid-template-columns: repeat(4,1fr);
}
.grid div{
    background-color: cadetblue;
    padding: 20px;
}
.list{
    background-color: chocolate;
    color: #ecf1f1;
    list-style: square;
    margin: 20px 0;
}
.card{
    background-color: darkgray;
    width: 500px;
    height: 150px;
    border-radius: 20px;
    border: rgb(62, 62, 179) solid 5px;
}
.card button{
    background-color: green;
    color: #ecf1f1;
    
}
.loader{
    height: 20px;
    width: 20px;
    padding: 40px;
    border: 2px;
    border-top: 5px solid blue;
  border-radius: 500px;
  animation: spin 2s linear infinite;
}
@keyframes spin{
  100%{ transform: rotate(360deg); }
}
.pagination a{
    padding: auto;
    margin: 2px;
    text-decoration: none;
  border: 1px solid rgb(247, 48, 48);
}
.navbar {
    list-style: none;
    background: #867904;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar li a {
    color: white;
    padding: 15px 20px;
    display: block;
    text-decoration: none;
}

.navbar li a:hover {
    background: #cc1818ef;
}
.tooltip {
    position: relative;
    padding: 10px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    background: black;
    color: white;
    padding: 5px;
    top: -30px;
    left: 0;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}
header, nav, section, footer{
    padding: 10px;
    margin: 5px;
    background-color: powderblue;
}
.menu{
    list-style:none;
    background:#333;
    display:flex;
}

.menu li{
    position:relative;
}

.menu a{
    color:white;
    padding:15px 20px;
    display:block;
    text-decoration:none;
}

.menu a:hover{
    background:#ddad0e;
}

/* DROPDOWN */
.dropdown-menu{
    list-style:none;
    position:absolute;
    top:100%;
    left:0;
    background:#444;
    display:none;
    min-width:150px;
}

.dropdown:hover .dropdown-menu{
    display:block;
}

.dropdown-menu a{
    padding:10px;
}